@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #99caea;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: scroll;
}

@layer base {
  input[type="date"],
  input[type="time"],
  input[type="datetime-local"],
  select {
    -webkit-appearance: textfield;
  }
}

@layer components {
  *[aria-disabled="true"] {
    @apply opacity-75 cursor-not-allowed;
  }
  .font-black {
    font-variation-settings: "opsz" 96;
  }
  .font-bold {
    font-variation-settings: "opsz" 48;
  }
  .paginationBtn {
    @apply rounded w-10 h-10 flex items-center justify-center underline-offset-2;
  }

  .brutal-sm {
    @apply bg-white ring-1 ring-black shadow-brutal-sm p-2 rounded-lg;
  }

  .brutal-md {
    @apply bg-white ring-1 ring-black shadow-brutal-md p-2 rounded-lg;
  }

  .brutal-xl {
    @apply bg-white ring-1 ring-black shadow-brutal-xl p-2 rounded-lg;
  }

  /* .brutal-focus { */
  /* @apply outline-none ring-offset-1 ring-offset-black ring-4 ring-ncssm-blue/50; */
  /* @apply outline; */
  /* } */

  [data-tooltip] {
    @apply relative;
  }

  [data-tooltip]::after {
    @apply -inset-x-96 w-fit mx-auto text-center max-w-[35ch] content-[attr(data-tooltip)] absolute -top-7 bg-black rounded-md text-white px-2 py-1 opacity-0 pointer-events-none text-xs;
  }

  [data-tooltip]:hover::after {
    @apply opacity-100 transition-opacity delay-200;
  }
}

::-webkit-scrollbar {
  @apply sm:w-[8px] sm:h-[8px];
}
::-webkit-scrollbar-track {
  @apply sm:bg-transparent rounded-full;
}
::-webkit-scrollbar-thumb {
  @apply sm:bg-ncssm-blue sm:rounded-full;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

#sidebar::-webkit-scrollbar {
  @apply sm:w-[4px] sm:h-[8px];
}

#sidebar::-webkit-scrollbar-thumb {
  @apply sm:bg-transparent sm:rounded-full;
}
#sidebar:hover::-webkit-scrollbar-thumb {
  @apply sm:bg-ncssm-blue;
}

#sidebar::-webkit-scrollbar-track {
  @apply sm:bg-transparent;
}
