@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #99caea;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: scroll;
}

@layer components {
  .font-black {
    font-variation-settings: "opsz" 96;
  }
  .font-bold {
    font-variation-settings: "opsz" 48;
  }
  .paginationBtn {
    @apply rounded w-10 h-10 flex items-center justify-center underline-offset-2;
  }
}

::-webkit-scrollbar {
  @apply sm:w-[8px] sm:h-[8px];
}
::-webkit-scrollbar-track {
  @apply sm:bg-ncssm-light-blue;
}
::-webkit-scrollbar-thumb {
  @apply sm:bg-ncssm-blue sm:rounded-full;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
